---
interface Props {
  href?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "secondary" | "ghost";
  size?: "sm" | "md";
  class?: string;
}

const {
  href,
  type = "button",
  variant = "primary",
  size = "md",
  class: className = "",
} = Astro.props;

const classes = ["button", `button-${variant}`, `button-${size}`, className];
---

{href ? (
  <a class:list={classes} href={href}>
    <slot />
  </a>
) : (
  <button class:list={classes} type={type}>
    <slot />
  </button>
)}
